<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <center>
    <table border="1" width="800">
    <tr>
        <td colspan="2" align="center" width="600" bgcolor="lightblue" height="30">Academic Qualifications (Bai Lusha) </td><td align="center" width="200" bgcolor="lightblue">Year Awarded</td>
    </tr>
    <tr>
        <td rowspan="2" align="center" width="300" height="60">Bachelor Of Science</td><td align="center" width="300" height="30">South China Normal University</td><td align="center" width="200">2020</td>
    </tr>
    <tr>
        <td colspan="2" width="500" align="center" bgcolor="lightblue" height="30">First Class Honours</td>
    </tr>
    <tr>
        <td rowspan="2" align="center" width="300" height="60">Master Of Education</td><td align="center" width="300">The University of Hong Kong</td><td align="center" width="200">2023</td>
    </tr>
    <tr>
        <td colspan="2" align="center" width="500" bgcolor="lightblue" height="30">Be In School</td>
    </tr>

    </table>
    </center>
</body>
</html>